@import './../../utils/settings.scss';

.my_custom_btn {
    font-size: 14px;
    font-weight: 600!important;
    border-radius: $border-main-radius;
    padding: 1px 12px;
    line-height: 35px;
    min-width: 100px;
    transition: $transition-duration;

    &_icon {
        border-radius: $border-btn-radius;
        height: 27px;
        width: 27px;
        line-height: 29px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        > .MuiSvgIcon-root {
            font-size: $btn-icon-size;
        }
    }

    &_text {
        font-size: 14px;
        text-transform: none;
        width: 100%;
        margin: 0 5px 0 5px;
        color: $font-main-color;
        margin: auto;
    }

    &:hover {
        transform: $hover-second-transform;
    }
}