@import './../../utils//settings.scss';

.title-text{
    position: relative;
    font-weight: 600!important;
    margin: 0;
    font-size: $font-size-main-title;
    z-index: 0;

    &:before{
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        bottom: 4px;
        left: 0;
        opacity: 0.5;
        border-radius: $border-btn-radius;
        z-index: -1;
    }
}