@import './../../utils/settings.scss';


.myNavbar {
    margin-bottom: 30px;
    padding: 0 22px 0 0!important;
    border-radius: $border-main-radius;

    .header_navlink {
        padding: 0;
        width: 65px;
        border: none;
        cursor: default!important;
    }

    &_home {
        height: 66px;
        width: 66px;
        padding: 22px;
        display: flex!important;
        align-items: center!important;
        border-top-left-radius: $border-main-radius;
        border-bottom-left-radius: $border-main-radius;

        .MuiSvgIcon-root {
            font-size: $main-icon-size;
            color: $icon-main-color;
        }
    }

    &_content {
        display: flex;
        width: 100%;
        padding: 10px;
        

        &_left_section {
            margin-right: auto;
            display: flex;
            align-items: center;
    
            &_link {
                transition: $transition-duration;
        
                &:hover {
                    color: $main-color;
                }
            }
    
            .active {
                color: $main-color;
            }
        }
    
        
        &_right_section {
            display: flex;
            align-items: center;
            
    
            > a > .MuiSvgIcon-root {
                font-size: 20px;
                margin-right: 12px;
                color: $icon-main-color;
            }

            &_darkmode {
                margin: auto 0;
            }
        }
    }
}

