@import './../../utils/settings.scss';


.myNavbar {
    margin-bottom: 30px;
    padding: 0 22px 0 0!important;
    border-radius: $border-main-radius;

    .header_navlink {
        padding: 0;
        width: 65px;
        border: none;
        cursor: default!important;
    }

    &_home {
        height: 70px;
        width: 70px;
        padding: 22px;
        display: flex!important;
        border-top-left-radius: $border-main-radius;
        border-bottom-left-radius: $border-main-radius;
        align-items: center;

        .MuiSvgIcon-root {
            font-size: $main-icon-size;
            color: $icon-main-color;
            transform: translateX(3.3px);
        }
    }

    &_content {
        display: flex;
        width: 100%;
        padding: 10px;
        

        &_left_section {
            margin-right: auto;
            display: flex;
            align-items: center;
    
   
            .active {
                color: $main-color;
            }
        }
    
        
        &_right_section {
            display: flex;
            align-items: center;
            
    
            > a > .MuiSvgIcon-root {
                font-size: 20px;
                margin-right: 12px;
                color: $icon-main-color;
            }

            &_icons {
                display: flex;
                flex-direction: column;
                transform: translateX(15px);
            }

            &_darkmode {
                margin: auto 0;
                transform: rotateZ(90deg) translateY(-40px);
            }

            &_authentication {
                margin-right: 40px!important;
            }
        }
    }

    &_dialog {

        &_content {
            padding: 20px!important;
        }

        &_actions {
            display: flex!important;
            justify-content: space-between!important;
            padding: 20px!important;

            &_create {
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

