@import './../../utils/settings.scss';

.myNavbar {
    margin-bottom: 30px;
    background-color: $bg-main-color;
    padding: 0 22px 0 0!important;
    border-radius: $border-main-radius;
    box-shadow: $shadow-main;

    .header_navlink {
        padding: 0;
    }

    &_home {
        background-color: $main-color;
        height: 65px;
        width: 65px;
        padding: 22px;
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
        border-top-left-radius: $border-main-radius;
        border-bottom-left-radius: $border-main-radius;

        .MuiSvgIcon-root {
            font-size: $main-icon-size;
            color: $icon-main-color;
            transition: $transition-duration;

        }
        &:hover{
            .MuiSvgIcon-root {
                transform: $hover-main-transform;
            }
        }
    }

    &_content {
        display: flex;
        width: 100%;
        padding: 10px;

        &_left_section {
            margin-right: auto;
    
            &_link {
                font-weight: 500;
                color: $font-text-color;
                transition: $transition-duration;
        
                &:hover {
                    color: $main-color;
                }
            }
    
            .active {
                color: $main-color;
            }
        }
    
        
        &_right_section{
            display: flex!important;
            align-items: center!important;
    
            > a > .MuiSvgIcon-root {
                font-size: 20px;
                margin-right: 12px;
                color: $icon-main-color;
            }
        }
    }
}

