// Global style settings

// Colors
//$main-color : #425CBB!important;
$main-color: #FFC500!important;
$bg-main-color: #FAFAFA!important;
$bg-second-color: black!important;
$bg-main-light-color: #f5f5f5!important;
$font-main-color: black!important;
$font-text-color: #787878!important;
$font-second-color: #FAFAFA!important;
$icon-main-color: #1E1E1E!important;
$bg-footer-color: #1E1E1E!important;

// Sizing
$main-icon-size: 35px!important;
$btn-icon-size: 20px!important; 
$font-size-main-title: 20px!important;

// Borders
$border-main-radius: 6px!important;
$border-btn-radius: 50px!important;

// transitions & animations
$transition-duration: .3s!important;
$hover-main-transform: scale(1.2);

// Shadow
$shadow-main: 0px 2px 92px 0px rgba(0, 0, 0, 0.13)!important;

// Margin & Padding
$main-margin: 60px;
$second-margin: 40px!important;
$main-padding: 45px!important;

// Line-height
$main-line-height: 28px!important;