// Global style settings

// Colors
//$main-color : #425CBB!important;
$main-color: #FFC500!important;
$bg-main-color: #FAFAFA!important;
$bg-second-color: black!important;
$font-main-color: black!important;
$font-text-color: #787878!important;
$font-second-color: #FAFAFA!important;
$icon-main-color: darkslategray!important;
$bg-footer-color: #1E1E1E;

// Sizing
$btn-icon-size: 20px!important; 

// Borders
$border-main-radius: 6px!important;
$border-btn-radius: 50px!important;

// transition time
$transition-duration: .3s!important;

// Shadow
$shadow-main: 0px 2px 92px 0px rgba(0, 0, 0, 0.13)!important;

// Margin & Padding
$top-main-margin: 60px!important;
$top-second-margin: 30px!important;
$main-padding: 30px!important;
$bottom-main-padding: 45px!important;
$bottom-main-margin: 30px!important;
