@import './../../utils/settings.scss';

.footer {
    height: 65px;
    background-color: $bg-footer-color;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: $border-main-radius;
    padding: 20px 25px;
    box-shadow: $shadow-main;

    &_right {

        &_copyrights {
            font-size: small!important;
            text-align: end;
            color: #9C9C9C;
            
            &_name {
                color: $font-second-color;
            }
        }
    }

    &_left {
        > a {
            text-decoration: none;
            color: $main-color;
        }
    }
}

