// Global style setting

// Colors
$main-color : orange;
$bg-main-color : #FAFAFA;
$bg-second-color : black;
$font-main-color : black;
$font-text-color : #777;

// Borders
$border-main-radius : 6px;


