// Global style settings

// Colors
//$main-color : #425CBB!important;
$main-color : #FFC500!important;
$bg-main-color : #FAFAFA!important;
$bg-second-color : black!important;
$font-main-color : black!important;
$font-text-color : #777!important;
$icon-main-color : darkslategray!important;

// Borders
$border-main-radius : 6px!important;


