@import './../../utils/settings.scss';

.map {
    margin-top: 50px;
    background-color: $bg-main-color;
    border-radius: $border-main-radius;
    width: 100%;
    box-shadow: $shadow-main;
    padding: 5px;

    iframe {
        border-radius: $border-main-radius;
    }
}