@import './../../utils/settings.scss';

.map {
    margin-top: 50px;
    border-radius: $border-main-radius;
    width: 100%;
    padding: 5px;

    iframe {
        border-radius: $border-main-radius;
    }
}